<!-- courses.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- Tailwind CSS を読み込む -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <!-- 曜日選択ボタン -->
    <div class="flex space-x-4">
        {% for day in CourseSchedule.DAY_OF_WEEK_CHOICES %}
        <a href="{% url 'courses' day.0 %}" class="btn btn-primary">{{ day.1 }}</a>
        {% endfor %}
    </div>

    <!-- 授業一覧 -->
    <div>
        <h2 class="text-2xl font-bold my-4">{{ day_of_week }}曜日の授業一覧</h2>
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            {% for course in courses %}
            <div class="border border-gray-200 rounded-lg p-4">
                <h3 class="font-bold text-lg mb-2">{{ course.course.name }}</h3>
                <p><span class="font-bold">時間:</span> {{ course.period }}時限</p>
                <p><span class="font-bold">教室:</span> {{ course.classroom }}</p>
                <p><span class="font-bold">教授:</span> 
                    {% for professor in course.professors.all %}
                    {{ professor.professor.last_name }} 
                    {% if professor.professor.last_name != professor.professor.first_name %}
                    {{ professor.professor.first_name }}
                    {% endif %}
                    {% if not forloop.last %}
                    ,
                    {% endif %}
                    {% endfor %}
                </p>
                
                <p><span class="font-bold">学期:</span> {{ course.semester }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
