<!-- home.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- Tailwind CSS を読み込む -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

    {% if user.is_authenticated %}
    <h1>ログイン中のユーザー：{{ user }}</h1>
    {% endif %}

    {% if user.is_authenticated %}
    <a href="{% url 'mypage' %}">マイページ</a><br>
    <a href="{% url 'signout' %}">サインアウトする</a><br>
    {% else %}
    <a href="{% url 'signup' %}">サインアップする</a><br>
    <a href="{% url 'signin' %}">サインインする</a><br>
    {% endif %}
    
    
    <script>
        function toggleMenu() {
          let accordion = document.getElementsById('accordion');
          let montoggle = document.getElementById('montoggle');

          if (accordion.style.display === 'none') {
            accordion.style.display = 'block';
            montoggle.innerText = "Close";
          } else {
            accordion.style.display = 'none';
            montoggle.innerText = "Open";
          }
        }

        window.onload = function () {
          document.getElementById('monday').addEventListener('change', function (e) {
            var checks = document.getElementsByClassName('mondayClass');
            for (var i = 0; i < checks.length; i++) {
              checks[i].checked = e.target.checked;
            }
          });
        };

    </script>
</body>
</html>

